    footer {
       
        background-color: black;
        height: 30px;
        text-align: center;
        color: white;
        font-size: 14px;
    }
    
    .carga {
        top: 0%;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .Title{
        font: oblique bold 120% cursive;
        font-size: xx-large;
    }

    .SubTitle{
        font: small-caps 100%/200% serif;
        font-size: xx-large;
    }